*{
    box-sizing: border-box;
}

.main-nav {
    box-shadow:  4px 5px 5px #999;
    height: 16vh;
    background-color: #fff;
}    

.main-nav a{
    text-decoration:none;
}

.main-nav a:hover {
    color: #00A5CF;
}

.logo {
    width: 95px;
    margin-left: 2rem;
}

.main-nav img {
    margin-top: 1rem;
}

.mid {
    margin: auto;
}

.navbar li {
    list-style: none;
    display: inline-block;
    padding-left: 7rem;
    position: relative;
    bottom: 5rem;
    left: 6rem;

}

.navbar li button {
    background-color: #49B1A1;
    width: 101px;
    height: 42px;
    border: none;
    color: #ffff;
    border-radius: 5px;
}

.navbar li button:hover {
    cursor: pointer;
    background-color: #00A5CF;
}

.navbar li button:active {
    color: #005198;
}
