@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

.App {
    height: 90vh;
}

.flex-container {
    display: flex;
    min-height: 100px;
    justify-content: center;
    margin-top: 3rem;   
}

.form-title {
    color: #2BB4D7;
}

.left-side {
    width: 522px;
    height: 500px;
    text-align: center;
}

input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 280px;
    height: 30px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: .8rem;
}

input::placeholder {
    opacity: 0.5;
}

.welcome-pic{
    width: 400px;
    margin-top: 6rem;
}

.welcome-admin {
    width: 400px;
}

.account {
    font-size: 10px;
    width: 350px;
    height: 38px;
    margin-left: 8rem;
}

.account-two {
    margin-left: 5rem;
}

.login {
    color: #49B1A1;
    text-decoration: none;
}

.login:hover {
    cursor: pointer;
    color: #1877F2;
}

.btn-signup {
    width: 200px;
    height: 60px;
    background-color: #00A5CF;
    border: none;
    border-radius: 5px;
    align-items: center;
    padding: 12px 10px;
    color: #ffff;
    font-size: 15px;

}

.btn-signup:hover {
    cursor: pointer;
    background-color: #49B1A1;
}

/* hr {
    display: block;
} */

hr {
    display: inline-block;
    width: 20px;
    color: black;
}

.word-or {
    font-size: 10px;
    position: relative;
    bottom: .4rem;
}

svg {
    width: 25px;
    margin-left: 1.3rem;
    height: 25px;
}

.forgot-pwd {
    text-decoration: none;
    color: black;
}

.forgot-pwd:hover {
    color: #1877F2;
}

.password-container {
    text-align: center;
    margin-top: 1rem;
}

.password-container p {
    font-size: 12px;
}

.forgot-password {
    width: 20%;
}

/* HomePage CSS */
main {
    padding: 1.5rem;
}

.first-section,
.about-us, 
.mission, 
.how-section {
    height: 400px;
    display: flex;
    justify-content: center;
}

.first-frame {
    width: 50%;
    background-image: linear-gradient(to right, white, #C4E0E5, #4CA1AF);
}

.first-frame h1 {
    margin-left: 8rem;
    height: 160px;
    font-size: 2rem;
    width: 280px;
}

.first-frame p {
   width: 350px;
   margin-left: 8rem;

}

.signing {
    Width: 650px;
    height: 400px;
}

.btn-home {
    background-color: #00A5CF;
    color: #fff;
    border: none;
    width: 100px;
    height: 42px;
    margin-top: 1rem;
    margin-left: 8rem;
    border-radius: 5px;
}

.btn-home:hover, 
.btn-works:hover {
    cursor: pointer;
    background-color: #49B1A1;
}

.btn-works {
    border-color: #6D309D;
    background-color: transparent;
    width: 100px;
    height: 42px;
    margin-left: 1rem;
    border-radius: 5px;
}

.about-us {
    margin-top: 2rem;
}

.about-frame
.how-frame {
    width: 50%;
} 

.about-paragraph {
    width: 550px;
    margin-right: 3rem;
}

.about-frame h2 {
    text-align: center;
}

.about-img {
    width: 111%;
}


.mission p {
    width: 400px;
    margin-left: 5rem;
}

.mission-img {
    width: 700px;
}

.mission h2 {
    text-align: center;
}

.how-section h2{
    text-align: center;
}

.how-section p {
    width: 550px; 
}

.teaching {
    margin-left: 6rem;
    width: 91.2%;
}

.rating {
    display: flex;
    justify-content: space-between;
}

.rating-title {
    text-align: center;
}


.card-frame {
    width: 20vw;
    padding: 1rem;
    background-color: #fff;
    box-shadow:  4px 5px 5px #999;

}

.card-slide {
    display: flex;
}

.card-name {
    margin-left: .3rem;
    position: relative;
    bottom: 1rem;
}

.card-name p {
    font-size: .6rem;
}

.feedback {
    font-size: .7rem;
}

.stars {
    width: 50%;
}